body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
}
.tudo {
    max-width: 1000px; 
    width: 90%;
    background-color: white;
    margin: 0 auto;
}
#topo {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
/* retirado o estilo ruim de contraste para permitir leitura seguindo AA */
.texto-ruim {
    color: #555;
}
.botoes {
    padding: 50px;
    text-align: center;
}

#meuBotao{
    background: #333; 
    color: white; 
    padding: 10px; 
    text-align: center;
}

#rodape{
    padding: 20px; 
    background: #B30000; 
    color: white;
}

#servicosDiv{
    padding: 40px; 
    text-align: center;
}